node_modules/
.idea/
.DS_Store
.DS_Store?
dist/*
build/*
docker/volumes/*.zip
docker/volumes/db/data*
docker/volumes/elastic/data*
docker/volumes/common
docker/volumes/backoffice
docker/volumes/ingest
linotte
docker.zip

services/job/job
services/protection/protection
services/user/user
services/api/api
services/search/search
services/taxref/taxref

services/job/proto/job.pb.go
services/protection/proto/protection.pb.go
services/search/proto/search.pb.go
services/taxref/proto/taxon.pb.go
services/user/proto/user.pb.go

docker/api/api
docker/job/job
docker/protection/protection
docker/search/search
docker/taxref/taxref
docker/user/user
docker/runner/job_runner
docker/backoffice/www

docker/user/app.rsa
docker/user/app.rsa.pub

job_runner/job_runner
